<!doctype html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flatfish</title>

    <!-- Favicon -->
    <link rel="icon"  href="{% static 'media/img/fish.png' %}" type="image/png" />

    <!-- Soho css -->
    <link rel="stylesheet" href="{% static 'css/soho.min.css' %}"/>
    <script>
        var user ="{{ user }}";
        var roomname="{{ room_name }}";

    </script>
</head>
<body>

<!-- page loading -->
<div class="page-loading"></div>
<!-- ./ page loading -->







<!-- new group modal -->
<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa fa-users"></i> 创建自己的聊天室
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
             <div class="modal-body">
                <form method="get" action="/create_newroom">

                    <div class="form-group">
                        <label for="group_name" class="col-form-label">聊天室名称</label>
                        <input type="text" class="form-control" name="group_name" required>
                    </div>

                    <div class="modal-footer">
                <button type="submit" class="btn btn-primary">创建！</button>
            </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!-- ./ new group modal -->



<!-- layout -->
<div class="layout">

    <!-- navigation -->
    <nav class="navigation">
        <div class="nav-group">
            <ul>
                <li>
                    <a class="logo" href="#">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="33.004px" height="33.003px" viewBox="0 0 33.004 33.003" style="enable-background:new 0 0 33.004 33.003;"
                             xml:space="preserve">
                            <g>
                                <path d="M4.393,4.788c-5.857,5.857-5.858,15.354,0,21.213c4.875,4.875,12.271,5.688,17.994,2.447l10.617,4.161l-4.857-9.998
                                    c3.133-5.697,2.289-12.996-2.539-17.824C19.748-1.072,10.25-1.07,4.393,4.788z M25.317,22.149l0.261,0.512l1.092,2.142l0.006,0.01
                                    l1.717,3.536l-3.748-1.47l-0.037-0.015l-2.352-0.883l-0.582-0.219c-4.773,3.076-11.221,2.526-15.394-1.646
                                    C1.469,19.305,1.469,11.481,6.277,6.672c4.81-4.809,12.634-4.809,17.443,0.001C27.919,10.872,28.451,17.368,25.317,22.149z"/>
                                <g>
                                    <circle cx="9.835" cy="16.043" r="1.833"/>
                                    <circle cx="15.502" cy="16.043" r="1.833"/>
                                    <circle cx="21.168" cy="16.043" r="1.833"/>
                                </g>
                            </g>
                            <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a data-navigation-target="chats" class="active" href="#">
                        <i class="ti-comment-alt"></i>
                    </a>
                </li>

                <li data-navigation-target="favorites" class="brackets">
                    <a href="#">
                        <i class="ti-star"></i>
                    </a>
                </li>


                <li>
                    <a href="/logout">
                        <i class="ti-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- ./ navigation -->

    <!-- content -->
    <div class="content">

        <!-- sidebar group -->
        <div class="sidebar-group">

            <!-- Chats sidebar -->
            <div id="chats" class="sidebar active">
                <header>
                    <span>聊天室</span>
                    <ul class="list-inline">
                        <li class="list-inline-item" data-toggle="tooltip" title="New Group" >
                            <a class="btn btn-light" href="#" data-toggle="modal" data-target="#newGroup">
                                <i class="fa fa-users"></i>
                            </a>
                        </li>

                        <li class="list-inline-item d-lg-none d-sm-block">
                            <a href="#" class="btn btn-light sidebar-close">
                                <i class="ti-close"></i>
                            </a>
                        </li>
                    </ul>
                </header>
                <form method="get" action="/create_newroom">
                    <input name="search_room" type="text" class="form-control" placeholder="查找聊天室">
                </form>
                <div class="sidebar-body">
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <div>
                                <figure class="avatar">
                                    <img src="{% static 'media/img/people.png' %}" class="rounded-circle">
                                </figure>
                            </div>
                            <a href="/chatting/public/" class="users-list-body" >
                                <h5>公共聊天室</h5>
                                <p>随心所欲的聊天吧</p>

                            </a>
                        </li>
                        <li class="list-group-item">
                            <figure class="avatar">
                                <img src="{% static 'media/img/book.png' %}" class="rounded-circle">
                            </figure>
                            <a href="/chatting/reading/" class="users-list-body">
                                <h5>学习</h5>
                                <p>这里主要讨论学习问题</p>

                            </a>
                        </li>
                        <li class="list-group-item open-chat">
                            <figure class="avatar">
                                <img src="{% static 'media/img/football_players.png' %}" class="rounded-circle">
                            </figure>
                           <a href="#" class="users-list-body">
                                <h5>运动</h5>
                                <p>一起运动吧</p>

                            </a>
                        </li>
                        <li class="list-group-item">
                            <figure class="avatar">
                                <img src="{% static 'media/img/game.png' %}" class="rounded-circle">
                            </figure>
                           <a href="/chatting/gaming" class="users-list-body">
                                <h5>游戏</h5>
                                <p>在这里开黑</p>

                            </a>
                        </li>

                        <li class="list-group-item">
                            <figure class="avatar">
                                <img src="{% static 'media/img/question.png' %}" class="rounded-circle">
                            </figure>
                           <a href="#" class="users-list-body"  data-toggle="modal" data-target="#newGroup">
                                <h5>其他</h5>
                                <p>杂七杂八</p>

                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- ./ Chats sidebar -->



            <!-- Favorites sidebar -->
            <div id="favorites" class="sidebar">
                <header>
                    <span>房间当前在线</span>
                    <ul class="list-inline">
                        <li class="list-inline-item d-lg-none d-sm-block">
                            <a href="#" class="btn btn-light sidebar-close">
                                <i class="ti-close"></i>
                            </a>
                        </li>
                    </ul>
                </header>

                <div class="sidebar-body">
                    <ul class="list-group list-group-flush users-list" id="userlist">

                    </ul>
                </div>
            </div>
            <!-- ./ Stars sidebar -->

        </div>
        <!-- ./ sidebar group -->

        <!-- chat -->
        <div class="chat">
            <div class="chat-header">
                <div class="chat-header-user">
                    <figure class="avatar avatar-lg">
                        <img src="{% static 'media/img/football_players.png' %}" class="rounded-circle">
                    </figure>
                    <div>
                        <h5>运动聊天室</h5>
                        <small class="text-muted">
                            <i id="onlineNUM">在线人数：未知</i>
                        </small>
                    </div>
                </div>

            </div>
            <div class="chat-body"> <!-- .no-message -->
                <!--
                <div class="no-message-container">
                    <i class="fa fa-comments-o"></i>
                    <p>Select a chat to read messages</p>
                </div>
                -->
                <div class="messages">

                </div>
            </div>
            <div class="chat-footer">
                <form action="">
                    <input type="text" class="form-control" placeholder="请输入聊天内容"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="form-buttons">

                        <button class="btn btn-primary btn-floating" type="submit">
                            <i class="fa fa-send"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <!-- ./ content -->

</div>
<!-- ./ layout -->

<!-- JQuery -->
<script src="{% static 'js/jquery-1.10.2.js' %}"></script>

<!-- Popper.js -->
<script src="{% static 'js/popper.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Nicescroll -->
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>

<!-- Soho -->
<script src="{% static 'js/soho.min.js' %}"></script>

<!-- Examples -->
<script src="{% static 'js/examples.js' %}"></script>
</body>
</html>
